* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* placeholder styles */

#__next {
	display: grid;

	width: 100vw;
	height: 100vh;

	color: honeydew;

	background-color: #222244;
}
