* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

/* placeholder styles */

.App {
	display: grid;
	place-content: center;

	width: 100vw;
	height: 100vh;

	font-size: 96px;
	font-weight: bold;
	color: honeydew;

	background-color: #222244;
}
