.main {
	justify-self: center;

	h1 {
		text-align: center;
	}
}

.card {
	background-color: rgba($color: white, $alpha: 0.2);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	gap: 15px;

	img {
		width: 150px;
		aspect-ratio: 1;
		border-radius: 9999px;
		border: solid 3px tomato;
	}

	> div {
		align-self: center;
	}

	.name {
		font-size: 36px;
		margin-bottom: 5px;
	}

	.email {
		font-size: 16px;
		color: rgba($color: white, $alpha: 0.6);
	}
}
